venv/
.venv/
__pycache__/
.env
*.db
*.sqlite
*.sqlite3
*.bin
*.pt
*.pth
*.ckpt
*.safetensors
*.onnx
MedGuide-AI-V2/data/meddialog/train_data.json
MedGuide-AI-V2/data/meddialog/validate_data.json
MedGuide-AI-V2/data/meddialog/test_data.json
MedGuide-AI-V2/data/meddialog/healthcaremagic_dialogue_2.txt
MedGuide-AI-V2/data/meddialog/healthcaremagic_dialogue_3.txt
MedGuide-AI-V2/data/meddialog/iclinic_dialogue.txt
MedGuide-AI-V2/data/meddialog/healthcaremagic_dialogue_1.txt
